.order-list.MuiPaper-root {
    width: 50em;
    margin: 0 auto;
    background-color: var(--data-color);
    box-shadow:
        0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);

}

.order-list .order-row {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: auto;
    grid-template-areas:
        "id customer date";
}

.order-list .MuiTableRow-root.order-row-body:hover {
    background-color: #3f51b52d;
    cursor: pointer;
}

.order-list .order-row th {
    font-weight: bold;
    background-color: rgba(224, 225, 238, 0.829);
}

.order-list .order-row .order-cell-id {
    grid-area: id;
}

.order-list .order-row .order-cell-customer {
    grid-area: customer;
}

.order-list .order-row .order-cell-date {
    grid-area: date;
}