Button.edit-item-button {
    background-color: rgb(209, 209, 30);
    color: black;
}

Button.edit-item-button:hover {
    background-color: rgb(138, 138, 20);
}

Button.edit-item-button:hover b {
    opacity: 0;
}

Button.edit-item-button:hover .update-icon {
    margin-left: 70%;
}