.search-bar .MuiFormControl-root .MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.3em;
}

.search-bar .MuiFormControl-root .MuiFormLabel-root.Mui-focused {
    color: #3f51b5;
}

.search-bar .MuiFormControl-root input {
    font-size: 1.3em;
}