h3 {
    margin-bottom: 2rem;
}

.select {
    margin-bottom: 1rem;
}

.MuiButtonBase-root.sbm-btn {
    margin-top: 2rem;
}

legend.MuiFormLabel-root {
    color: #3f51b5;
    font-weight: bold;
}

.add-items {
    width: 15rem;
}
