.customer-details {
  margin-top: 4em;
}

.customer-details .MuiPaper-root {
  border-radius: 10px;
  min-width: 20em;
  width: fit-content;
  margin: 0 auto;
}

.customer-details .customer-details-row {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "title content";
}

.customer-details .customer-details-title-cell {
  grid-template-areas: title;
  align-self: center;
  font-weight: bold;
}

.customer-details .customer-details-content-cell {
  grid-template-areas: content;
  align-self: center;
}

.error {
  color: var(--error-color);
  font-weight: bold;
}