.add-customer {
    min-width: 15rem;
}

tr.customer-property {
    border-bottom: 1px solid #3f51b5;
}

div.customer-details {
    margin-top: 0;
}

button.edt-btn {
    margin-top: 2rem;
}

.add-customer .customer-details div.MuiPaper-root {
    width: inherit;
}
