.order-title {
    text-align: center;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    background-color: rgba(224, 225, 238, 0.829);
}

.order-details .order-info {
    margin: 0.5em 0 0.5em 0;
}

.order-details .order-title {
    grid-area: title;
}

.order-details .customer-link {
    color: #212529;
    text-decoration: underline;
}

.customer-link:hover {
    color: #1a692b;
    text-decoration: underline;
}

.order-items {
    margin-top: 2em;
}

.order-table-item {
    display: flex;
}

.error {
    color: var(--error-color);
    font-weight: bold;
}

.order-details .MuiPaper-root {
    width: 60rem;
    background-color: var(--data-color);
    border-radius: 10px;
    margin: 0 auto;
}

.order-details .MuiPaper-root th {
    background-color: rgba(224, 225, 238, 0.829);
}

.order-details .MuiPaper-root td {
    border-bottom: none;
}
