.customer-list.MuiPaper-root {
    width: 40em;
    border-radius: 10px;
    background-color: var(--data-color);
}

.customer-list .list-of-customers {
    padding: 0;
}

.customer-list .list-of-customers .customer-list-item {
    padding-left: 48px;
}

.customer-list-view .progress-component {
    margin-top: 0.5em;
}