.update-order a.update-order-button {
    display: flex;
    justify-content: center;
    background-color: rgb(209, 209, 30);
    color: black;
    width: 15em;
    height: 3em;
    margin: 0 1.5em 0 1.5em;
}

.update-order a.update-order-button:hover {
    background-color: rgb(138, 138, 20);
}

.update-order a.update-order-button:hover b {
    opacity: 0;
}

.update-order a.update-order-button:hover .update-icon {
    opacity: 1;
    margin-left: 45%;
}

.update-order a.update-order-button b {
    margin-right: 10%;
    opacity: 1;
}

.update-order a.update-order-button .update-icon {
    opacity: 0;
}
