.item-search h1 {
    text-align: center;
    margin-top: 1em;
}

.item-search-bars .form {
    display: flex;
    justify-content: center;
}

.item-search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.item-search-result-info .item-order {
    margin-bottom: 2em;
}

.item-not-found {
    margin-top: 2em;
    text-align: center;
    color: var(--error-color);
    font-weight: bold;
}

.item-search .item-search-bars {
    margin: 0 auto;
    width: fit-content;
    background-color: var(--data-color);
    border-radius: 10px;
}

.item-search .search-bar {
    padding: 0.5em 2.5em 1.5em 2.5em;
}

.item-search .progress-component {
    margin-top: 1em;
}