.delete-item {
    padding-right: 0.5em;
}

Button.delete-item-button {
    color: black;
}

Button.delete-item-button:hover b {
    opacity: 0;
}

Button.delete-item-button:hover .delete-icon {
    margin-left: 60%;
}