.delete-item {
    padding-right: 0.6em;
}

Button.delete-item-button {
    display: flex;
    justify-content: space-evenly;
    color: black;
    width: 8.5em;
}

Button.delete-item-button:hover b {
    opacity: 0;
}

Button.delete-item-button:hover .delete-icon {
    margin-left: 50%;
}
