Button.print-item-button {
    background-color: white;
    color: black;
    margin-left: 0.5em;
}

Button.print-item-button:hover {
    background-color: rgb(202, 202, 202);
}

Button.print-item-button:hover b {
    opacity: 0;
}

Button.print-item-button:hover .print-icon {
    margin-left: 70%;
}
