.customer-main {
    display: flex;
    flex-direction: column;
}

.main-item {
    padding-bottom: 1em;
}

.create-button {
    align-self: flex-end;
}

.no-customers {
    display: flex;
    justify-content: center;
    color: rgb(102, 100, 0);
}

.customer-main .search-bar {
    align-self: center;
}