.main {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.main-item {
    padding-bottom: 1em;
}
.header {
    align-self: center;
}
.create-button {
    align-self: flex-end;
}
