.order-details div.MuiPaper-root .order-item-list-row {
    display: grid;
    grid-template-columns: 8% 17% 17% 12% 11% 11% 16% 8%;
    grid-template-areas:
        "id category service filleted sliced barcode state quantity"
        ". details details details details details details details";

}

.order-details div.MuiPaper-root .order-item-list-row.body-row:hover {
    background-color: #9ba7f762;
    cursor: pointer;
}

.order-details div.MuiPaper-root .order-item-id {
    grid-area: id;
    align-self: center;
}

.order-details div.MuiPaper-root .order-item-category {
    grid-area: category;
    align-self: center;
}

.order-details div.MuiPaper-root .order-item-service {
    grid-area: service;
    align-self: center;
}

.order-details div.MuiPaper-root .order-item-filleted {
    grid-area: filleted;
    align-self: center;
}

.order-details div.MuiPaper-root .order-item-sliced {
    grid-area: sliced;
    align-self: center;
}

.order-details div.MuiPaper-root .order-item-state {
    grid-area: state;
    align-self: center;
}

.order-details div.MuiPaper-root .order-item-quantity {
    grid-area: quantity;
    align-self: center;
}

.order-details div.MuiPaper-root .order-item-details {
    grid-area: details;
    padding-top: 0;
}


.order-details .order-item-list-row.with-border {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}