button.dlt-btn {
    background-color: #d9534f;
    color: white;
}
button.dlt-btn:hover {
    background-color: #ee7773;
}
div.MuiPaper-root {
    width: 50rem;
}
.view-items {
    width: 50rem;
    margin: 0 5rem 0 5rem;
}
