.create-order-view {
    min-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4em;
}

p.error {
    text-align: center;
}

.create-order-view h1 {
    text-align: center;
}
