.modal-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-text {
    color: white;
}

.modal-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.modal-button-text {
    padding-left: 0.5em;
    margin-top: 0.6em;
}